@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --neon-green: #39FF14;
  --hot-pink: #FF69B4;
  --electric-blue: #00FFFF;
  --acid-yellow: #F0FF00;
  --bright-purple: #BF00FF;
  --electric-orange: #FFA500;
  --fluorescent-red: #FF1493;
  --lime-green: #00FF00;
  --coral-pink: #FF7F50;
  --sky-blue: #87CEEB;
  --magenta: #FF00FF;
  --canary-yellow: #FFFF99;
  --turquoise: #40E0D0;
  --vivid-red: #FF0000;
  --neon-orange: #FFA343;
  --fuschia-pink: #FF00AF;
  --bright-cyan: #00FFFF;
  --chartreuse: #7FFF00;
  --deep-saffron: #FF9933;
  --electric-purple: #CC00FF;
}

.text_h1 {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 102.8%;
  color: #0C0E36;
}

.text_h3 {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #3A3A3A;
}

.type_button {
  padding: 15px 27px;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #F70058;
}

.type_button:hover {
  background: var(--acid-yellow);
  color: var(--turquoise)
}

.type_button.outlined {
  background: none;
  padding: 10px 22px;
  border: 5px solid #F70058;
  color: #F70058;
}

.type_button.outlined:hover {
  border-color: var(--acid-yellow);
  color: var(--turquoise);
}

.text_widget {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.075em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.7);
}

.text_widget_large {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
}

.text_link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #0C0E36;
}

.text_link:hover {
  color: var(--deep-saffron)
}

.container {
  max-width: 1443px;
}

.main {
  background: url('src/img/bg.jpg') no-repeat center -80px;
}

/*Popup (Don't need to check)*/

.button_popup {
  position: absolute;
  top: 0;
  left: 0;
  background: var(--chartreuse);
  color: var(--fluorescent-red);
  padding: 8px 15px;
  border-radius: 15px;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 80%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .close:hover {
  color: #06D85F;
}

.popup .content {
  max-height: 30%;
  overflow: auto;
}
